body {
  font-family: arial, sans-serif;
}

.header-links li {
  display: inline;
  font-size: 13px;
  color: #737373;
  float: right;
  margin-top: 20px;
}
.header-links li a {
  text-decoration: none;
  color: #737373;
}
.header-links a:hover {
  text-decoration: underline;
}
#avatar {
  height: 32px;
  margin: 0 0 0 8px;
}
#alerts, #apps {
  height: 22px;
  margin: 4px 14px 0 8px;
}
#main-content img {
  display: block;
  margin: 140px auto 32px auto;
}
#main-content input {
  display: block;
  width: 584px;
  height: 40px;
  margin: 0 auto;
}
