body {
  font-family: arial, sans-serif;
}

.header-links li {
  display: inline;
  font-size: 13px;
  color: #737373;
  float: right;
}
.header-links li a {
  text-decoration: none;
  color: #737373;
  vertical-align: middle;
  margin-right: 15px;
}
.header-links a:hover {
  text-decoration: underline;
}
#avatar {
  height: 32px;
  margin: 0 30px 0 8px;
}
#alerts, #apps {
  height: 22px;
  margin: 4px 0 0 8px;
  margin-right: 10px;
}
